.chefBox {
  width: 14vw;
  height: 15vh;
  font-size: 1.8rem; 
  font-weight: 400; 
  color: #ffffff; 
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.chefsSection{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.chefHat{
  width: 3vw;
  height: auto;
}